.flex-container {
  display: flex;
  height: 100%;
}

.server-response {
  color: green;
}

.my-text {
  color: red;
}

.menu-container {
  display: block;
  height: 100%;
  width: 50%;
}

.chat-container {
  display: block;
  height: 100%;
  width: 50%;
}

.chat-form {
  right: 0%;
  bottom: 20%;
  width: 50%;
  position: fixed;
}

.chat-list {
  top: 10%;
  overflow-y: auto;
  height: 70%;
}
